body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}


nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;              
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 8px;
}

.box_text {
    border: 2px solid white;
    padding: 5px 30px;
    margin: 0px;
    border-radius: 100px;

}

nav .nav-inner {
    position: relative;
    width: 95%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    filter: blur(.5px);
}


nav span {
    position: absolute;
    top: 0;
    left: 13%;
    width: 15%; 
    height: 100%;
    background: linear-gradient(45deg, #0e063d, rgb(0, 179, 255));
    border-radius: 8px;
    transition: 0.8s ease-in-out;
}

nav a:hover {
    transform: scale(1.03); 
    transition: transform .25s ease-in-out .8s;
    filter: blur(0);
    transition: .3s ease-in .6s;
}


nav a:nth-child(1):hover ~ span {left: 0%} 
nav a:nth-child(2):hover ~ span {left: 13%; }
nav a:nth-child(3):hover ~ span { left: 28.7%; }
nav a:nth-child(4):hover ~ span { left: 47%; }
nav a:nth-child(5):hover ~ span { left: 64.5%; }
nav a:nth-child(6):hover ~ span { left: 82%; }



nav a:nth-child(6):hover {
    color:#00a2e2;
    background-color: #000;
     border: 3px solid #00a2e2;
    transition: .3s ease-in-out .6s}

hr {
    height: 1px;
    background-color:#00a2e2;
}

.top {
    background: linear-gradient(
        10deg,
        #00a2e2 0%,
        #00a2e2 45%,
        rgb(255, 255, 255) 45%,
        rgb(255, 255, 255) 100%
    );
position:relative;
}

h1 {
    font-size: 300px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 0px;

}

.changer {

font-weight: 900;
   background: linear-gradient(
        10deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 46.8%,
        #00a2e2 46.8%,
        #00a2e2 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}
.horizontal_line {
    width: 1300px;
    height: 20px;
    background: rgb(255, 255, 255);
    top: 450px; 
    left: 75px;
    animation: growline 2s forwards ease-out;
    position: absolute;
    z-index: 1;
}
@keyframes growline {
    0% { width: 0px; }
    100%{ width: 1300px; }
}
.triangle-down {
    width: 100%; 
    height: 130px;   
    margin: 0 auto;
    /* Apply gradient or solid color */
    background:#00a2e2;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.middle {
    position: relative;
    background-color:#000000;
    width: 100%;
}
.imgtxt {
    display: flex;
    justify-content: flex-start;            
    gap: 100px;
}

.imgbg {
    padding-right: 100px;
    padding-top: 70px;}

.image-help {
    height: 550px;
    z-index: 0;
    border-radius: 20px;
    display: block;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

p {
    padding-left: 50px;
    white-space: pre-wrap; 
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    line-height: 30px;
    margin: 0px 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.smally {
    font-size: 20px;
    animation: text-appear both;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {opacity 1;
        transform: translateY(0);}
}


.biggy {
    text-align: center;
    color: #00a2e2;
    font-size: 40px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.reg {
    text-align: center;
    font-size: 20px;
    margin-top: 20px; 
    line-height: 35px;
    animation: text-appear both;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
ul {
    padding-left: 100px;
    white-space: pre-wrap; 
    font-size: 20px;
    color: #00a2e2;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    line-height: 30px;
    margin: 0px 20px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
.blue {
    color: #00a2e2;
}

