body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.heady {
background: linear-gradient(
    120deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 42.1%,
    rgb(0, 162, 226) 42.1%,
    rgb(0, 162, 226) 100%
);
}

nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;              
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 8px;
}

.box_text {
    border: 2px solid white;
    padding: 5px 30px;
    margin: 0px;
    border-radius: 100px;

}

nav .nav-inner {
    position: relative;
    width: 95%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    filter: blur(.5px);
}


nav span {
    position: absolute;
    top: 0;
    left: 64.5%;
    width: 15%; 
    height: 100%;
    background: linear-gradient(45deg, #0e063d, rgb(0, 179, 255));
    border-radius: 8px;
    transition: 0.8s ease-in-out;
}

nav a:hover {
    transform: scale(1.03); 
    transition: transform .25s ease-in-out .8s;
    filter: blur(0);
    transition: .3s ease-in .6s;
}

nav a:nth-child(1):hover ~ span {left: 0%} 
nav a:nth-child(2):hover ~ span {left: 13%; }
nav a:nth-child(3):hover ~ span { left: 28.7%; }
nav a:nth-child(4):hover ~ span { left: 47%; }
nav a:nth-child(5):hover ~ span { left: 64.5%; }
nav a:nth-child(6):hover ~ span { left: 82%; }


nav a:nth-child(6):hover {
    color:#00a2e2;
    background-color: #000;
     border: 3px solid #00a2e2;
    transition: .3s ease-in-out .6s}

h1 {
    margin: auto;
    font-size: 200px;
    text-align: center;
    font-family: 'Inter', sans-serif;

}
.changer {

font-weight: 900;
   background: linear-gradient(
        120deg,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 51.3%,
        rgb(255, 255, 255) 51.3%,
        rgb(255, 255, 255) 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}

hr {
    height: 1px;
    background-color: white;
}

.red {
    color:#000;
    font-size: 200px;
   background: linear-gradient(
        130deg,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 79%,
        rgb(0, 162, 226) 79%,
        rgb(0, 162, 226) 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}

.horizontal_line {
    width: 680px;
    height: 20px;
    background: linear-gradient(120deg, rgb(0, 162, 226) 0%, rgb(0, 162, 226) 44%,rgb(0, 0, 0) 44%, rgb(0, 0, 0) 100%);
    margin-top: -100px; 
    margin-left: 330px;
    animation: growline 2s forwards ease-out;
}
@keyframes growline {
    0% { width: 0px; }
    100%{ width: 800px; }
}

.smally {
    white-space: pre-wrap; 
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    color: rgb(0, 162, 226);
    text-align: center;
    animation: text-poof both;
}
ol {
    padding-left: 90px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.norm-blue {
    color: rgb(0, 162, 226); 
}


    .mid {
        position: relative;
        background-color: rgb(0, 0, 0);
        padding-bottom: 20px;
    }
    .triangle-down {
    width: 100%; 
    height: 130px;   
    margin: 0 auto;
    /* Apply gradient or solid color */
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 42.9%,rgb(0, 162, 226) 42.9%,rgb(0, 162, 226) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
    
.one {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; /* starts earlier and ends sooner */
}

.one {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
    will-change: transform, opacity;
}

.two {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 30% cover 35%;
    will-change: transform, opacity;
}

.three {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 30% cover 35%;
    will-change: transform, opacity;
}

.four {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    will-change: transform, opacity;
}

.five {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    will-change: transform, opacity;
}

@keyframes text-poof {
    from {
        opacity: 0;
        transform: translateY(calc(100vh + 100%));
        scale(.2);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        scale:(1);
    }
}
