body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}


nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;              
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 8px;
}

.box_text {
    border: 2px solid white;
    padding: 5px 30px;
    margin: 0px;
    border-radius: 100px;

}

nav .nav-inner {
    position: relative;
    width: 95%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    filter: blur(.5px);
}


nav span {
    position: absolute;
    top: 0;
    left: 47%;
    width: 15%; 
    height: 100%;
    background: linear-gradient(45deg, #0e063d, rgb(0, 179, 255));
    border-radius: 8px;
    transition: 0.8s ease-in-out;
}

nav a:hover {
    transform: scale(1.03); 
    transition: transform .25s ease-in-out .8s;
    filter: blur(0);
    transition: .3s ease-in .6s;
}

nav a:nth-child(1):hover ~ span {left: 0%} 
nav a:nth-child(2):hover ~ span {left: 13%; }
nav a:nth-child(3):hover ~ span { left: 28.7%; }
nav a:nth-child(4):hover ~ span { left: 47%; }
nav a:nth-child(5):hover ~ span { left: 64.5%; }
nav a:nth-child(6):hover ~ span { left: 82%; }



nav a:nth-child(6):hover {
    color:#00a2e2;
    background-color: #000;
     border: 3px solid #00a2e2;
    transition: .3s ease-in-out .6s}

hr {
    height: 1px;
    background-color:#00a2e2;
}

.top {
    background: linear-gradient(
        -10deg,
        #000000 0%,
        #000000 44.5%,
        #00a2e2 44.5%,
        #00a2e2 100%
    );
position:relative;
}

h1 {
    font-size: 250px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 0px;

}

.changer {

font-weight: 900;
   background: linear-gradient(
        -10deg,
        #00a2e2 0%,
        #00a2e2 46.8%,
        #ffffff 46.8%,
        #ffffff 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}
.horizontal_line {
    width: 1200px;
    height: 20px;
    background: #00a2e2;
    top: 400px; 
    left: 140px;
    animation: growline 2s forwards ease-out;
    position: absolute;
    z-index: 1;
}
@keyframes growline {
    0% { width: 0px; }
    100%{ width: 1200px; }
}
.triangle-down {
    width: 100%; 
    height: 130px;   
    margin: 0 auto;
    /* Apply gradient or solid color */
    background:#000000;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.middle {
    position: relative;
    background: linear-gradient(    
        80deg,
        #04091c 0%,
        #04091c 47.2%,
        #ffffff 47.2%,
        #ffffff 100%
    );
    width: 100%;
}

.mid {
    margin-top: 10px; 
    font-weight: 800;
       background: linear-gradient(
        80deg,
        #ffffff 0%,
        #ffffff 44.7%,
        #00a2e2 44.7%,
        #00a2e2 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
    font-size: 100px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 90px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(640px);
    }
    to {opacity 1;
        transform: translateY(0);}
}
video {
    margin-top: -40px; 
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    animation: box-appear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;

}

@keyframes box-appear {
    from {
        opacity: 0;
        filter: blur(300px);
        transform: translateY(20);
    }
to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}
}