body {
    width: 2240px;
    height: 1400px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100vw;              
    height: 60px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 8px;
}

.box_text {
    border: 2px solid white;
    padding: 5px 30px;
    margin: 0px;
    border-radius: 100px;

}

nav .nav-inner {
    position: relative;
    width: 95%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    z-index: 1;
    filter: blur(.5px);
}


nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%; 
    height: 100%;
    background: linear-gradient(45deg, #0e063d, rgb(0, 179, 255));
    border-radius: 8px;
    transition: 0.8s ease-in-out;
}

nav a:hover {
    transform: scale(1.03); 
    transition: transform .25s ease-in-out .8s;
    filter: blur(0);
    transition: .3s ease-in .6s;
}


nav a:nth-child(1):hover ~ span {left: 0%} 
nav a:nth-child(2):hover ~ span {left: 13%; }
nav a:nth-child(3):hover ~ span { left: 28.7%; }
nav a:nth-child(4):hover ~ span { left: 47%; }
nav a:nth-child(5):hover ~ span { left: 64.5%; }
nav a:nth-child(6):hover ~ span { left: 82%; }



nav a:nth-child(6):hover {
    color:#00a2e2;
    background-color: #000;
     border: 3px solid #00a2e2;
    transition: .3s ease-in-out .6s}

h1 {
    font-size: 110px;
    text-align: center;
    font-family: 'Inter', sans-serif;

}
.changer {

font-weight: 900;
   background: linear-gradient(
        130deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 74.2%,
        rgb(0, 162, 226) 74.2%,
        rgb(0, 162, 226) 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}

hr {
    height: 1px;
    background-color: white;
}

.red {
    color:#000;
    font-size: 200px;
   background: linear-gradient(
        130deg,
        rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 72.5%,
        rgb(0, 162, 226) 72.5%,
        rgb(0, 162, 226) 100%
    );
    -webkit-background-clip: text;/* Tells clip the background to the text shape */
    background-clip: text; /* Same as above, just works for other browsers */
    color: transparent; /* Tell reg colors of text to be gone, and by extention do the background one now */
}

.horizontal_line {
    width: 680px;
    height: 10px;
    background: linear-gradient(130deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 61.5%,rgb(0, 162, 226) 61.5%, rgb(0, 162, 226) 100%);
    margin-top: -100px; 
    margin-left: 330px;
    animation: growline 2s forwards ease-out;
}
@keyframes growline {
    0% { width: 0px; }
    100%{ width: 800px; }
}
.red_style{
    color:rgb(255, 113, 113);
}

.top {
    background: linear-gradient(
        130deg,
        #00a2e2 0%,
        #00a2e2 66.66%,
        black 66.66%,
        black 100%
    );
position:relative;
}

.triangle-down {
    width: 100%; 
    height: 130px;   
    margin: 0 auto;
    /* Apply gradient or solid color */
    background: linear-gradient(130deg, rgb(0, 162, 226) 0%, rgb(0, 162, 226) 51.8%, rgb(0, 0, 0) 51.8%, rgb(0, 0, 0) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.middle {
    position: relative;
    background-color:#04091c;
    width: 100%;
}
.pencil-round {
    position: absolute;
    left: 450px;
    top: 240px;
    height: 200px;
    z-index: 0;
    transform-origin: center center;
    animation: AutoRotateAnimation 1s linear;
    animation-timeline: view();

}
@keyframes AutoRotateAnimation {
    from {transform: rotate(0deg);}
    to {
        transform: rotate(360deg);
    }
    }

.imgtxt {
    display: flex;
    justify-content: flex-start;      
    gap: 100px;
}

.image-help {
    padding-left: 100px;
    height: 600px;
}

.image-round {
    z-index: 0;
    border-radius: 20px;
    display: block;
}

p {
    white-space: pre-wrap; 
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    line-height: 30px;
    margin: 0px 20px;
}

.text {
    display: flex;
    flex-direction: column;
}

.smally {
    font-size: 20px;
    text-align: center;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.biggy {
    text-align: center;
    color: #00a2e2;
    font-size: 40px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.reg {
    text-align: center;
    font-size: 20px;
    margin-top: 20px; 
    line-height: 35px;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {opacity 1;
        transform: translateY(0);}
}

.blue {
    color: #00a2e2;
}

.roll {
    background-color: #000;
}

.bottom {
    position: relative;
    background: linear-gradient(
        80deg,
        #00a2e2 0%,
        #00a2e2 60%,
        rgb(255, 255, 255) 60%,
        rgb(255, 255, 255) 100%
    );
    padding-bottom: 600px;
}

.stop {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 700;
    background: linear-gradient(
        80deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 57.3%,
        rgb(0, 162, 226) 57.3%,
        rgb(0, 162, 226) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.penc {
    position: absolute;
    top: 300px;   
    left: 0px;  
    height: 100px;
    width: 700px;
    transform: rotate(60deg);
    z-index: 0;
    animation: stab forwards ease-in-out; 
    animation-timeline: view();
    animation-range: entry 0% cover 50%; /* ends early, before mid-screen */
}

/* Keyframes */
@keyframes stab {
    0% {
        left: 0px;
        top: 300px;
        transform: rotate(60deg);
    }
    50% {left: 0px;}
    100% {
        left: 600px;
        top: 400px;
        transform: rotate(0deg);
    }
}


.canc {
    position: absolute;
    top: 250px;  
    left: 700px; 
    height: 400px;
    z-index: 1;
}

.final {
    background-color: #000;
    padding-bottom: 500px;
}
.biggery { white-space: pre-wrap; 
    font-size: 50px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 3px rgb(255, 255, 255); 
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 80px;
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; /* starts earlier and ends sooner */
}

@keyframes text-poof {
    from {
        opacity: 0;
        transform: translateY(100px);
        font-size: 30px;
    }
    to {opacity: 1;
        transform: translateY(0) scale(1);}
}
    
.biggery, .biggest, .one, .two, .three, .four {
    display: inline-block; /* makes it behave like a block so you can control w/ transform (it's usually only for blocks) */
}

.three, .four {
    text-decoration: underline;
}

.biggest { white-space: pre-wrap; 
    font-size: 100px;
    font-weight: 900;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 150px;
}
.one {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}
.two {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%; 
}
.three {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 50% cover 70%; 
}
.four {
    animation: text-poof both;
    animation-timeline: view();
    animation-range: entry 50% cover 70%; 
}

